@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*    Font :   font-family: "Nunito Sans", sans-serif;   */

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
*::first-letter {
    text-transform: capitalize;
}

/* ------------------- Font -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*    Font :   font-family: "Nunito Sans", sans-serif;   */

/* ------------------- Font -------------------- */
body {
    background-color: skyblue;
}
.formItemClass label{
    padding: .25em 0;
    min-width: 50%;
    font-size: 2rem;
}
.formItemClass input{
    line-height: 1.5;
    border-radius: 8px;
}
#registration_form_driving_license,
#registration_form_agreeTerms,
#registration_form_photo{
    cursor: pointer;
}
/* --------------------- Login -------------------- */


/* -------------------- Profil -------------------- */
.imgProfileClass {
    width: 20%;
}

/* ------------------ Result Search---------------- */



/* -------------------- Footer -------------------- */



/* ------------------------------------------------ */
/* -------------------- Responsive ---------------- */
/* ------------------ Commun item ---------------- */
@media screen and  (min-width : 930px){
    .buttonClass{
        font-size: 1.2rem;
    }


    /* -------------------- Header -------------------- */


    /* -------------------- Navbar -------------------- */


    /* --------------------- Home --------------------- */


    /* ------------------- Register ------------------- */
    .registerFormMainClass{
        width:480px;
        margin: auto;
    }
    .registerFormTitleClass{
        font-size: 2rem;
    }
    .formItemClass input{
        font-size: 1.2rem;
    }
    .formItemClass label{
        min-width: 40%;
        font-size: 1.2rem;
    }
    .formItemClass input{
        line-height: 1.5;
        border-radius: 8px;
    }
    /* --------------------- Login -------------------- */


    /* -------------------- Profil -------------------- */


    /* ------------------ Result Search---------------- */



    /* -------------------- Footer -------------------- */
}