#homeChiffres {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.textCercle{
    font-size: 2rem;
    font-weight: bold;
}
  
.cercle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 12px solid rgb(178, 136, 192);
    font-size: 3rem;
    font-weight: bold;
    width: 170px;
    height: 170px;
 }
 table, th, tr, td{
    border: solid 1px rgb(9, 50, 98);
 }

 #homeRechResa{
    color :rgb(9, 50, 98);
    background-color:#ddd;
    margin : 5px ;
    width: 90%;
    border-radius: 0 10% 10% 0 ;
 }

 thead{
    background-color:  rgb(9, 50, 98);
    color: #fff;
 }

.h2Exemple{
    margin-top: 15px;
}
.texteCenter{
    text-align: center;
}


 @media screen and  (min-width : 930px){
    #homeChiffres{
        width: 70%;
    }
    .homeMessage{
        width: 20%;
        font-size: 2em;
     }
 }