    {% block footer %}
        <footer class="footerClass">
            <div class="footerMenuWrapClass">
                <ul class="footerMenuClass">
                    <li class="footerMenuItemClass">
                        <a  href="#">Mentions Légales</a>
                    </li>
                    <li class="footerMenuItemClass">
                        <a  href="#">Conditions Générales d'Utilisations</a>
                    </li>
                    <li class="footerMenuItemClass">
                        <a  href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>
    {% endblock %}