{% extends 'base.html.twig' %}

{% block title %}Hello UsageConditionController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Objet des CGU</a>
                <a class="nav-link" href="#item-2">Acceptation des CGU</a>
                <a class="nav-link" href="#item-3">Description des Services</a>
                <a class="nav-link" href="#item-4">Inscription et Compte Utilisateur</a>
                <a class="nav-link" href="#item-5">Engagements des Utilisateurs</a>
                <a class="nav-link" href="#item-6">Politique de Réservation et Paiement</a>
                <a class="nav-link" href="#item-7">Responsabilité</a>
                <a class="nav-link" href="#item-8">Avis et Notations</a>
                <a class="nav-link" href="#item-9">Protection des Données Personnelles</a>
                <a class="nav-link" href="#item-10">Utilisation des Cookies</a>
                <a class="nav-link" href="#item-11">Modification des CGU</a>
                <a class="nav-link" href="#item-12">Droit applicable et juridiction</a>
            </nav>
        </nav>
    </div>

    <div class="col-8">

    <h1>Conditions Générales d'Utilisation (CGU)</h1>
        <div id="item-1">
            <h2>1. Objet des CGU</h2>

                <p>Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les conditions d’utilisation du site de covoiturage <span>Friendly Trip</span> (ci-après "le Site"). Ce Site permet la mise en relation entre conducteurs et passagers dans le but d’organiser des trajets partagés.</p>
        </div>
        <div id="item-2">
            <h2>2. Acceptation des CGU</h2>    

                <p>L’accès et l’utilisation du Site sont soumis à l’acceptation des présentes CGU. En s’inscrivant ou en utilisant le Site, l’utilisateur reconnaît avoir lu, compris et accepté les présentes conditions. Si l’utilisateur n’accepte pas les CGU, il doit s’abstenir d’utiliser les services du Site.</p>
        </div>
        <div id="item-3">
            <h2>3. Description des Services</h2>    

                <p>Le Site met à disposition une plateforme permettant :

                Aux conducteurs de publier des annonces de trajets de covoiturage,
                Aux passagers de rechercher des trajets et de réserver une place dans le véhicule d’un conducteur.</p>
        </div>
        <div id="item-4">
            <h2>4. Inscription et Compte Utilisateur</h2>    

                <p>Pour utiliser les services du Site, l’utilisateur doit créer un compte en fournissant des informations personnelles précises et à jour. L’utilisateur est responsable de la confidentialité de ses identifiants de connexion et de toutes les activités réalisées via son compte.</p>
        </div>
        <div id="item-5">
            <h2>5. Engagements des Utilisateurs</h2>    

                <p>Les utilisateurs s’engagent à :

                Utiliser le Site de manière légale et conformément aux CGU,
                Fournir des informations véridiques lors de l’inscription et de la publication de trajets,
                Respecter les lois en vigueur et adopter un comportement respectueux et courtois.
                Les conducteurs s’engagent à posséder un permis de conduire valide, un véhicule en règle et à être en capacité de conduire de manière sécurisée. Les passagers s’engagent à respecter les instructions des conducteurs pendant le trajet.</p>
        </div>
        <div id="item-6">
            <h2>6. Politique de Réservation et Paiement</h2>    

                <p>La réservation de trajets et le paiement peuvent être effectués directement sur le Site. Le Site peut percevoir une commission sur chaque transaction. Les prix et modalités de paiement sont indiqués au moment de la réservation. En cas d’annulation, des frais peuvent être appliqués selon les conditions définies sur le Site.</p>
        </div>
        <div id="item-7">
            <h2>7. Responsabilité</h2>    

                <p>Le Site agit en tant qu’intermédiaire et ne garantit pas la réalisation effective des trajets proposés. Il ne peut être tenu responsable des incidents, retards, annulations ou comportements des utilisateurs durant les trajets. Le Site décline toute responsabilité quant aux informations inexactes fournies par les utilisateurs.</p>
        </div>
        <div id="item-8">
            <h2>8. Avis et Notations</h2>    

                <p>Le Site permet aux utilisateurs de donner leur avis et de noter leurs expériences de covoiturage. Les utilisateurs s’engagent à laisser des avis honnêtes et respectueux. Le Site se réserve le droit de modérer les avis en cas de contenu inapproprié.</p>
        </div>
        <div id="item-9">
            <h2>9. Protection des Données Personnelles</h2>

                <p>Le Site collecte et traite les données personnelles des utilisateurs conformément à sa Politique de Confidentialité, accessible [lien vers la Politique de Confidentialité]. Les utilisateurs disposent de droits d’accès, de modification et de suppression de leurs données personnelles.</p>
        </div>
        <div id="item-10">
            <h2>10. Utilisation des Cookies</h2>    

                <p>Le Site utilise des cookies pour améliorer l’expérience utilisateur et pour des raisons de statistiques. Les utilisateurs peuvent gérer leurs préférences de cookies via les paramètres de leur navigateur.</p>
        </div>
        <div id="item-11">
            <h2>11. Modification des CGU</h2>    

                <p>Le Site se réserve le droit de modifier les CGU à tout moment. Toute modification sera notifiée aux utilisateurs via le Site ou par email. La poursuite de l’utilisation des services après les modifications vaut acceptation des nouvelles CGU.</p>
        </div>
        <div id="item-12">
            <h2>12. Droit applicable et juridiction</h2>    

                <p>Les présentes CGU sont régies par le droit français. En cas de litige, les parties conviennent de rechercher une solution amiable avant d’envisager une action devant les tribunaux français compétents.</p>
        </div>
    </div>
</div>
{% endblock %}
