{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class='container'>
    <div class="errorMessageWrapClass text-bg-warning p-4">
        <h1>Page non trouvée</h1>
        <p>La page que vous cherchez n' a pas été trouvé.</p>
    </div>

    <div class="errorServerMessageWrapClass text-bg-light p-4">
        <h2>Message d'erreur</h2>
        <p>Code de l'erreur : {{ status_code }}</p>
        <p>Message de l'erreur : {{ status_text }}</p>
    <div>

</div>

{% endblock %}
